<% if !@book.errors.empty? %>
	<div class="alert alert-error">
		<ul>
			<% @book.errors.full_messages.each do |msg| %>
			<li><%= msg%></li>
			<% end %>
		</ul>
	</div>
<% end %>
<h2>Качване на книга</h2>

<div class="form-group">
	<%= form_for @book, html: {multipart: true} do |f| %>
		<%= f.label :name, 'Име' %>
		<%= f.text_field :name, class: "form-control"  %>

		<%= f.label :author, 'Автор' %>
		<%= f.text_field :author, class: "form-control"   %>

		<%= f.label :desc, 'Описание' %>
		<%= f.text_area :desc, class: "form-control", cols: 40, rows: 10  %>

		<%= f.label :attachment, 'Книга' %>
		<%= f.file_field :attachment, accept: 'pdf/doc/html/docx/mobi/epub', class: "form-control"   %>

		<%= f.label :image, 'Снимка' %>
		<%= f.file_field :image, accept: 'jpg/jpeg/gif/png' , class: "form-control"   %>
		<br>
		<%= f.submit "Качи", class: "btn btn-primary" %>
	<% end %>
</div>